$font-heading: "Playfair Display", serif;
$font-text: "Poppins", sans-serif;
$primary: #ffffff;
$secodnary: #b8b8b8;
$info: #ffc492;
$highlight: #c4e4ea;
$btn-text: #2e2d33;
$bg-primary: #19161b;
$bg-secondary: #1f1d21;
$bg-info: #ffb577;
$bg-grid: rgba(0, 0, 0, 0.16);
