@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

body {
  font-family: $font-text;
  font-weight: 400;
  background: $bg-primary;
  color: $secodnary;
  line-height: 1.5;
}

.flex {
  display: flex;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
  background: $bg-info;
  padding: 0.75rem 1.5rem;
  color: $btn-text;
  transition: all 0.2s;
  &:hover {
    background: $info;
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
