.heading {
  color: $primary;
  font-family: $font-heading;
  &-1 {
    font-size: 3rem;
    line-height: 3.625rem;
    font-weight: bold;
  }
  &-2 {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: bold;
  }
  &-3 {
    font-style: $font-text;
    color: $highlight;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
  }
  &-4 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
  }
}

.text {
  color: $secodnary;
  font-family: $font-text;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
}

.title__text {
  font-family: $font-heading;
  color: $bg-info;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
